{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "babel-plugin-styled-components", {
        "ssr": true
      }
    ]
  ],
  "comments": false
}
